*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    scroll-behavior: smooth;
}

section{
    padding-top: 20px;
}

.nav__container{
    background-color: #38aef2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-family: Poppins, regular;
    max-width: 100%;
    position: relative;
    height: 17%;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    line-height: 95px;
}

.open-menu, .close-menu{
    display: none;
}

@media (max-width: 700px){
    .nav__container{
        background-color: #38aef2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 18px;
        font-family: Poppins, regular;
        max-width: 100%;
        position: relative;
        height: 17%;
    }
    
    .menu{
        background-color: #4fd4fc;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .nav__item{
        text-decoration: none;
        color: white;
        padding: 0 15px;
        line-height: 95px;
    }
    
    .open-menu, .close-menu{
        display: block;
        border: none;
        background: none;
        color: white;
        cursor: pointer;
    }

    .open-menu{
        align-items: flex-end;
        padding: 1px 1px;
    }
    .close-menu{
        align-self: flex-end;
        padding: 10px 1px;
    }
    
    .menu_opened{
        opacity: 1;
        pointer-events: all;

    }
}

/*Top Button*/
.go-top-container{
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #4fd4fc;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -10%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 5.5rem;
    height: 5.5rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

#puntero{
    left: 2.1rem;
}
@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 5.5rem;
        height: 5.5rem;
    }
}

/*Top Button end*/

.selector-for-some-widget {
    box-sizing: content-box;
}

.logoarriba{
    height: 80px;
    margin: 10px;
    padding-top: 8px;
    align-items: center;
}


header{
    height: 100vh;
    background-image: linear-gradient(to right, hsla(208, 99%, 65%, 0.562) 0%, hsla(183, 100%, 50%, 0.548) 100%), url(../img/backgroundcode.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', bold;
}

.titulo-centrado{
    font-size: 2.3em;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', regular;
    background-color: rgb(255, 255, 255);
}

img{
width: auto;
}

.container__aboutme, .container__servicio, .container__contact{
    align-items: center;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-bottom: 50px;
}

.imagen__aboutme{
    height: 200px;
    padding-right: 150px;
}

.imagen__service1{
    height: 200px;
    padding-right: 25px;
}

.imagen__service2{
    height: 200px;
    padding-right: 25px;
}

.imagen__contact{
    height: 200px;
    padding-right: 120px;
}

.subtitulo{
    color: azure;
    padding: 10px;
    background-image: linear-gradient(105deg, rgb(78, 211, 252) 39%, rgb(255, 255, 255) 96%);
}

p{
    font-family: 'Poppins', regular;
}

.text__aboutme, .text__service, .text__contact{
    width: 40%;
    padding: 15px;
    padding-right: 10px;
}

.form{
    font-family: 'Poppins', regular;
    text-align: center;
    background-color: #eefafd;
    margin: auto;
    width: 70%;
    max-width: 400%;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 7px -5px;
}

.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
    background-image: none;
}

.form_paragraph{
    font-weight: 300;
    color: black;
}

.form_container{
    margin-top: 3em;
    display: grip;
    gap: 2.5em;
}

.form__group{
    padding-top: 9px;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12PX) scale(.7);
    transform-origin: left-top;
    color: #38aef2;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    font-family: 'Poppins', regular;
    background-color:#4fd4fc;
    color: azure;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border-radius: .5em;
    width: 60%;
    margin-top: 20px;
}

#envio{
    opacity: 0;
}

footer{
    background-color: rgb(78, 211, 252);
    width: 100%;
}

#socialmedia{
    display: flex;
    flex-direction: column;
}

.social-media-icon{
    width: 30px;
    padding-top: 6px;
    text-decoration: none;
    color: azure;
    cursor: pointer;
}

li{
    text-decoration: none;
    padding: 5px;
}

.text-reset{
    text-decoration: none;
}

i{
    font-size: 24px;
    margin-left: 11px;
}

#logoabajo{
    height: 160px;
    padding: 10px;
}

#nombremarca{
    text-decoration: none;
    color: white;
    margin-right:auto
}

.row{
    margin-right: calc(3* var(--bs-gutter-x))!important
}

@media screen and (max-width: 790px){
#logoabajo{
    height: 140px;
}
.container__servicios{
    position: relative;
    height: 400px;
}
.container__aboutme, .container__servicio, .container__contact{
    align-items: center;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
}

.imagen__aboutme{
    height: 160px;
    padding-right: 90px;
}

.imagen__service1{
    height: 160px;
    padding-right: 25px;
}

.imagen__service2{
    height: 160px;
    padding-right: 25px;
}

.imagen__contact{
    height: 160px;
    padding-right: 90px;
}

.subtitulo{
    color: azure;
    padding: 10px;
    background-image: linear-gradient(105deg, rgb(78, 211, 252) 39%, rgb(255, 255, 255) 96%);
}
.text__aboutme, .text__service, .text__contact{
    width: 100%;
    padding: 15px;
    padding-right: 10px;
}
}

@media screen and (max-width: 550px){
    .container__servicio{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: 0;
    }
    #nombremarca{
        margin-right:auto
    }
    .container__aboutme, .container__servicio, .container__contact{
        align-items: center;
        margin-right: 0;
        display: flex;
        flex-direction: column ;
        position: relative;
        padding-bottom: 30px;
    }
    
    .imagen__aboutme{
        height: 130px;
        padding-right: 50px;
    }
    
    .imagen__service1{
        height: 130px;
        padding-right: 5px;
        padding-left: 10px;
    }
    
    .imagen__service2{
        height: 130px;
        padding-right: 5px;
        padding-left: 10px;
    }
    
    .imagen__contact{
        height: 130px;
        padding-right: 80px;
    }
    
    .subtitulo{
        color: azure;
        padding: 10px;
        background-image: linear-gradient(105deg, rgb(78, 211, 252) 39%, rgb(255, 255, 255) 96%);
    }
    .text__aboutme, .text__service, .text__contact{
        width: 100%;
        padding: 15px;
        padding-right: 10px;
    }
        #logoabajo{
        height: 120px;
        padding: 10px;
    }
    #socialmedia{
        font-size: 12px;
    }
}

@media screen and (max-width: 520px){
    .titulo-centrado{
        font-size: 1.4em;
    }
    .subtitulo-principal{
        font-size: 20px;
    }
    .container__aboutme, .container__servicio, .container__contact{
        align-items: center;
        margin-right: 0;
        display: flex;
        flex-direction: column ;
        position: relative;
        padding-bottom: 30px;
    }
    .imagen__contact{
        height: 130px;
        padding-right: 0px;
    }
    .text__aboutme, .text__service, .text__contact{
        width: 100%;
        padding: 15px;
        padding-right: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width: 300px){
    .titulo-centrado{
        font-size: 1.4em;
    }
    .subtitulo-principal{
        font-size: 20px;
    }
    .container__aboutme, .container__servicio, .container__contact{
        align-items: center;
        margin-right: 0;
        display: flex;
        flex-direction: column ;
        position: relative;
        padding-bottom: 30px;
    }
}
